.auto-complete {
  position: fixed;
}

.auto-complete input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
}

.suggestions {
  position: absolute;
  top: 40px;
  left: 0;
  border: 1px solid #ddd;
  padding: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.suggestions li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.suggestions li.highlighted {
  background-color: #8994d7;
}

.suggestions li strong {
  font-weight: bold;
}